---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>
    <a href="http://www.clustrmaps.com/map/Narendoraiswamy.github.io" title="Visit tracker for Narendoraiswamy.github.io"><img src="//www.clustrmaps.com/map_v2.png?d=3VFSgTvt-HBh0pB6Tt1M-hJyaH5p81vEL6wYBWXct_A" /></a>
    {% include scripts.html %}

  </body>
</html>
